.flexbox {
  display: flex;
}

#map {
  flex: 1 0 auto;
  height: calc(100vh - 70px);
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 70px !important;
}

.cards-container {
  width: 60%;
  padding: 20px;
}

@media (max-width: 425px) {
  .flexbox {
    display: block;
  }

  .cards-container {
    width: auto;
  }
}

body {
  color: #616668;
<<<<<<< HEAD
}

=======


}
>>>>>>> 0a49ef879660cef1714472ca4bb5340bc9e356cb
