
.show-banner-box {
  color: white;
  text-align: center;
  height: 500px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.show-banner {
  width: 100%;
}
.show-banner-content h2 {
  font-size: 50px;
  font-weight: bold;
  margin: 20px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  display: flex;
}
.info {
  margin: 20px;
}
.summary {
  flex: auto;
}
.date {
  flex: auto;
  // margin-left: 20px;
}
.book-and-avatar {
  flex: auto;
}
.safari-owner {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 50px;
  border-radius: 50%;
}

#book-button {
  position: absolute;
  top: 15px;
  right: 70px;
}

#book-button a {
  color: white !important;
  background-color: #6FD08C;
  opacity: 0.9;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 15px;
  margin: 0;
  &:hover {
    color: #6FD08C;
    opacity: 1;
  }
}

.show-banner-content {
  position: relative;
  // display: flex;
  // justify-content: space-between;
}

.safari-owner {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 6px;
  right: 10px;
  margin: 0;
}

.dialog-show {
  margin: 120px auto !important;
}

#review-button {
  color: white !important;
  background-color: #6FD08C;
  opacity: 0.9;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 15px;
  margin: 20px;
  &:hover {
    color: #6FD08C;
    opacity: 1;
  }
}

.reviews {
  margin: 20px;
}
