.show-banner-box {
  color: white;
  text-align: center;
  height: calc(70vh + 70px) !important;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.show-banner {
  width: 100%;
}
.show-banner-box h2 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.safari-owner {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 50px;
  border-radius: 50%;
}


// .show-card {
//   height: 50vh !important;
// }
