// Specific CSS for your home-page

.home {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.1) 50%), url("http://res.cloudinary.com/scoffy/image/upload/v1503416381/katie-treadway-253591_hqpbjo.jpg");
  background-position: center;
  background-size: cover;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

input, button {
  background: transparent;
  border: none; // kills the default input border
}

button{
  font-size: 32px;
  color: #757575;
}
#home-search {
  color: #757575;
  // border-bottom: 2px solid #EEEEEE;
}
.search-and-button {
  margin-bottom: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 30px;
  position: relative;;
}

main-title {
  margin-bottom: 14px;
  // font-size: 26px;
  text-align: center;

}

#thing {
  position: absolute;
  left: 0;
}

#typed {
  font-size: 30px;
  // border-bottom: 1px solid grey;
  &:focus {
    outline: none;
  }
}

.typed-cursor{
    opacity: 1;
    animation: blink 0.5s infinite;
    @keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
    }
    margin-left: -12px;
}

#main-submit {
  position: absolute;
  right: 0px;
}


@media (max-width: 625px) {
  button {
    font-size: 23px;
  }

  input {
    font-size: 17px;
    width: 250px;
  }
}
