<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="card-info">

    <div class="swiper-container">
      <div class="swiper-wrapper">
        <% unless safari.safari_images == [] %>
          <% safari.safari_images.each do |images_instance| %>
          <div class="swiper-slide">
            <div class="card" style="background-image: url('<%= cl_image_path images_instance.photo %>')"></div>
          </div>
          <% end %>
        <% else %>
          <div class="swiper-slide">
          <div class="card" style="background-image: url('<%= cl_image_path "lkgaqzb9hc9garraymlm.jpg" %>')"></div>
          </div>
        <% end %>
      </div>
      <% if (safari.safari_images != []) || (safari.safari_images.count == 1) %>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next swiper-button-white"></div>
      <div class="swiper-button-prev swiper-button-white"></div>
      <% end %>
    </div>

    <div class="card-footer-description">
      <div class="footer-box">

        <div class="card-footer-info">
          <p> <%= safari.title %> </p>
        </div>

        <div class="stars-and-count">

          <div class="card-stars">
            <div class="symbols">
              <% 5.times do  %>
                <i class="fa fa-star" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>

          <div class="card-count">
            <p> 250 reviews</p>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
