<% content_for(:title_tag) do %>
  Safari Now
<% end %>

<div class="home">
  <div>
    <h1 class="text-center">Safari Now</h1>
    <%= form_tag safaris_path, method: 'get', enforce_utf8: false do %>
      <%= text_field_tag :search, params[:search], placeholder:"Where to?" %>
      <%= submit_tag "Search", name: nil %>
    <% end %>
  </div>
</div>
