<% content_for(:title_tag) do %>
  Safari Now
<% end %>

<div class="home">
  <div>
    <%= form_tag safaris_path, :method => 'get', enforce_utf8: false do %>
      <%= text_field_tag :search, params[:search], placeholder:"Where to?" %>
      <%= button_tag(type: 'submit')  do %>
        <i class="fa fa-search" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>
</div>
