

<div class="home">
  <div>
    <h1 class="text-center">Safari Now</h1>
    <%= form_tag safaris_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search" %>
    <% end %>
  </div>
</div>

