.card {
  width: 100%;
  // text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  // color: white;
  // position: relative;
  z-index: -1;
  height: 175px;
}
.card a {
  color: #6FD08C;
}

.footer-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  color: #6FD08C;
}

.card-info {
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px #B0B0B0;
}

.card-stars {
  // display: flex;
  p {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 0;
  }
}

.card-footer-info {
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 16px;
  position: absolute;
  top: 10px;
}

.stars-and-count {
  position: absolute;
  bottom: 0px;
}

.card-image {
  height: 175px;
}

.footer-box {
  padding: 10px;
  height: 120px;
}

.card-count p {
  font-size: 14px;
}

// .stars-and-count {
//   margin-top: 30px;
// }

.swiper-container {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: -webkit-flex;
  display: flex;
  // -webkit-box-pack: center;
  // -ms-flex-pack: center;
  // -webkit-justify-content: center;
  justify-content: center;
  // -webkit-box-align: center;
  // -ms-flex-align: center;
  // -webkit-align-items: center;
  align-items: center;
  z-index: -1;
}
