/* Main navbar */
.navbar-wagon {
  // font-family: 'Muli';
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 10000000000;
  top: 0;
  left: 0;
  transition: top 0.6s;
  box-sizing: border-box;
}


/* Hiding the navbar*/
.navbar-wagon.off-canvas { top: -89px; }

.navbar-wagon.fixed {
  top: 0;
  z-index: 9999;
}

/* Logo */
.navbar-wagon-brand {
  display: flex;
  justify-content: center;
  color: #6FD08C;
  img {
    height: 50px;
    margin-right: 8px;
    margin-top: 5px;
  }
  p {

    font-family: 'Chewy', cursive;
    font-size: 1.7em;
    text-decoration: none;
    margin-top: 8px;

  }
}
.navbar-wagon-brand:hover {
  text-decoration: none;
  color: #FFDD83;
}
/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  justify-content: flex-end;
  width: 400px;

}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0;
  margin: 0;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 16px;
  text-decoration: none;
}
.navbar-wagon-link:hover {
  color: #6FD08C;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.navbar-wagon .input-group {
  display: flex;
  justify-content: center;
}

.navbar-wagon .form-control {
  border-radius: 50px;
  width: 200px;
}

.navbar-sign-in {
  margin: 0 20px;
}

.avatar {
  margin-left: 13px;
}




// animated search button

.search {
  display: inline-block;
  position: relative;
  height: 35px;
  width: 35px;
  box-sizing: border-box;
  margin: 0px 8px 7px 0px;
  padding: 7px 9px 0px 9px;
  border: 3px solid darkgrey;
  border-radius: 25px;
  transition: all 200ms ease;
  cursor: text;

  &:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 20px;
    right: -5px;
    top: 21px;
    background: darkgrey;
    border-radius: 3px;
    transform: rotate(-45deg);
    transition: all 200ms ease;
  }

  &.active,
  &:hover {
    width: 200px;
    margin-right: 0px;

    &:after {
      height: 0px;
    }
  }

  input {
    width: 100%;
    border: none;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 15px;
    color: inherit;
    background: transparent;
    outline-width: 0px;
  }
}



















